Здесь будет список юзеров


<div class="well">
  <%= form_tag people_index_path, method: :get do %>
      <label><%= radio_button_tag :gender, "", params[:gender].blank? %> Все</label>
      <label><%= radio_button_tag :gender, "male", params[:gender] == 'male' %> Мужчины</label>
      <label><%= radio_button_tag :gender, "female", params[:gender] == 'female' %> Женщины</label>

      <%= submit_tag "Отфильтровать" %>
  <% end %>
  </div>


<table class="table">

 <% @users.each do |user| %>

    <tr>
      <td>
       #Здесь будет фото

      </td>


      <td>
          <%= link_to user.email, "#"  %>

      </td>

      <td>
           <%= link_to 'Написать', new_message_path(receiver_id: user.id) %>
      </td>


    </tr>

<% end  %>

</table>
