<!DOCTYPE html>
<html>
<head>
  <title>Mailer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="row">
  <div class="span9">
    <% if notice %>
        <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
  </div>
  <div class="span3">
    тут форма входа
  </div>
</body>
</html>
